body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #00698f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px;
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:hover {
    background-color: #eee;
    cursor: pointer;
}

footer {
    background-color: #00698f;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}